@CHARSET "ISO-8859-1";
.login { 
	height:550px;
	width:300px;
	margin:auto;
	border:10px #400080 solid;
	padding:10px;
	background: #ceccd2;
}

.login input { 
	padding:10px;
	margin:5px
 }
 
 .register { 
	height:550px;
	width:550px;
	margin:auto;
	border:10px #400080 solid;
	padding:10px;
	background: #ceccd2;
}

.register input { 
	padding:10px;
	margin:5px
 }
 .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}